main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
}

.input_holder input{
    padding: 10px 0px;
    margin: 12px 12px;
}

.input_holder button {
    padding: 10px 8px;
    font-size: 15px;
}

ul li {
    margin: 12px 0px;
    position: relative;
    left: -10px;
    list-style-type: none;
    width: 260px;
    padding: 10px;
    background-color: rgba(177, 177, 176, 0.562);
    display: flex;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    padding-right: 12px;
}